extends layout 

block content 
    h1 #{title}
    form(method="POST" action="")
        .formGroup
            label(for="title") Title: 
            input#title(type='text' placeholder='Book Title' name='title' required='true' value=(book==undefined?"":book.title))
            label(for="description") Description: 
            textarea#description(placeholder="Info about the book" name="description" required='true') #{book==undefined?"":book.description}
            label(for="category") Category: 
            select#category(type="select" placeholder="Select category" name="category", required=true)
                for category in categories
                    // handling update
                    if book 
                        // category is a string in POST, object in GET
                        option(
                        value=category._id
                        selected=(category._id.toString()==book.category._id||category._id.toString()==book.category?
                        "selected":false)
                        ) #{category.name}
                    else 
                        option(value=category._id) #{category.name}
            label(for="price") Price:
            input#price(type="number" name="price" min=0 value=book==undefined?0:book.price required=true)
            label(for="numberInStock") Number in stock:
            input#numberInStock(type="number" name="numberInStock" min=0 value=book==undefined?0:book.numberInStock required=true)
            label(for="pages") Pages:
            input#pages(type="number" name="pages" min=0 value=book==undefined?0:book.pages required=true)
            label(for="publisher") Publisher: 
            select#publisher(type="select" placeholder="Select publisher" name="publisher", required=true)
                for publisher in publishers
                    // handling update
                    if book 
                        // publisher is a string in POST, object in GET
                        option(
                        value=publisher._id
                        selected=(publisher._id.toString()==book.publisher._id||publisher._id.toString()==book.publisher?
                        "selected":false)
                        ) #{publisher.name}
                    else 
                        option(value=publisher._id) #{publisher.name}
            label(for="isbn") ISBN: 
            input#isbn(type="text" name="isbn" placeholder="ex: 0867937645" required=true value=book==undefined?"":book.isbn)
            label(for="width") Book width:
            input#width(type="number" name="width" min=0 step="any"  value=book==undefined||book.coverSize.length<1?0:book.coverSize[0] required=true)
            label(for="depth") Book depth:
            input#depth(type="number" name="depth" min=0 step="any" value=book==undefined||book.coverSize.length<2?0:book.coverSize[1] required=true)
            label(for="height") Book height:
            input#height(type="number" name="height" min=0 step="any" value=book==undefined||book.coverSize.length<3?0:book.coverSize[2] required=true)
            label(for="author") Author:
            select#author(type="select" placeholder="Select author" name="author", required=true)
                for author in authors
                    if book 
                        // author is a string in POST, object in GET
                        option(
                        value=author._id
                        selected=(author._id.toString()==book.author||author._id.toString()==book.author._id?
                        "selected":false)
                        ) #{author.name}
                    else 
                        option(value=author._id) #{author.name}
            label(for="publicationDate") Publication date:
            input#publicationDate(type="date" name="publicationDate" value=book==undefined?"":book.publication_date_input_value required=true)

        button.orangeButton(type="submit") Submit
    
    if errors
        ul
            each error in errors 
                li!=error.msg