extends layout 

block content 
    h1 #{title}
    if(books.length>0)
        ul 
            each book in books 
                a(href=book.url)
                    li  #{book.title} 
    else 
        p This #{itemName} has no books
    
    hr
    .buttonContainer
        a(href=item.url+"/update")
            button.orangeButton Update #{itemName}
        a(href=item.url+"/delete")
            button.redButton Delete #{itemName}